<body style="background-color: #FBCBCB;">
	<div  class="jumbotron text-center">
	<div class="container">
	<h4>Welcome to home page</h4></div></div>
	<ul class="list-inline">
	<li>
	<%= link_to 'My Account',  profiles_my_account_path(current_user),class: "btn btn-primary btn-xs" %></li>

	<li><%= link_to 'Post', posts_path(current_user),class:"btn btn-primary btn-xs"%></li>

	<li><%= link_to ' Add Profile',new_user_profile_path(current_user),class: "btn btn-primary btn-xs"%></li>

	<li><%= link_to 'See User list',user_profiles_path(current_user),class: "btn btn-primary btn-xs"%></li>

	<li><%= link_to 'See followed user list', relationships_path(current_user),class: "btn btn-primary btn-xs"%></li>

	<li><%= link_to 'See Friend list',friendships_path(current_user),class: "btn btn-primary btn-xs"%></li>

	<li><%= link_to 'RequestArrived',friendships_show_friend_request_path(current_user),class: "btn btn-primary btn-xs"%></li>
   </ul>
	</div>
</body>
