
<body style="background-color: #FBCBCB;">
<div>
<h2>Welcome to home page</h2>
<table>
<h3>
<%#= link_to image_tag(@user.picture.url(:med)), @user.picture.url %>
<tr>
<td><%= link_to 'My Account', user_profile_path(current_user,current_user)%></td>
</tr>
<td></td>
<tr>
<td><%= link_to 'Post', posts_new_path%></td>
</tr>
<td><%= link_to ' Add Profile',new_user_profile_path(current_user)%></td>
<tr>
<td><%= link_to 'See User list',user_profiles_path(current_user)%></td>
</tr>
<td></td>
<tr>
<td><%= link_to 'See followed user list', relationships_path(current_user)%></td>
</tr>
<tr>
<td><%= link_to 'See Friend list'%></td>
</tr>
</h3>
</table>
</div>
</body>
