<body style="background-color:#FBCBCB;">
 <div id = "wrapper" class="animate form">
    <h1>ALL Users</h1> 
    <table border= '2'>
      <tr>
      <th>FirstName</th>
      <th>LastName</th>
      </tr>

      <% @user.each do |user| %>
        <tr>
          <td><%= user.firstname%></td>
          <td><%= user.lastname%></td>
          <% @frnd = current_user.friendships.map(&:friend_id) %>
          <% if @frnd.include?user.id %>
            <td><%= link_to 'Unfriend',friendship_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs"%></td>
          <%else%>
            <td><span><%= link_to 'Addtofriendlist',friendships_path(:friend_id => user), :method => :post,class: "btn btn-primary btn-xs"%></td></span>
          <%end%>

          <%@follow= current_user.relationships.map(&:followed_id) %>
          <% if @follow.include?user.id %>
            <td><%= link_to 'Unfollow',relationship_path(user), method: :delete,data: { confirm: 'Are you sure?' },remote: true,:class => 'delete',class: "btn btn-primary btn-xs"%></td>
          <%else%>
            <td><%= link_to 'Follow', relationships_path(:followed_id => user), method: :post,class: "btn btn-primary btn-xs" %></td>
          <%end%>
        </tr>
      <%end%>
    </table>
  </div>
</body> 
