<body style="background-color:#FBCBCB;">
  <div class="wrapper", id = "main-content">
    <div style="width: 639px; height: 780px; padding-top: 0px; padding-bottom: 0px; margin-top: -784px;">
        <h1><center>Profile</center></h1>
        <%= form_for @profile, url:user_profiles_path(current_user),:action =>'create' do |f| %>
          <div class="form-group" >
            <%= f.label :address,class: 'col-sm-2 control-label'  %>
            <div class="col-sm-2">
             <%= f.text_field :address %>
            </div><br />
          </div>

          <div class="form-group">
            <%= f.label :contact, class: 'col-sm-2 control-label'%>
            <div class="col-sm-2">
              <%= f.number_field :contact %>
            </div> <br />
          </div>

          <div class="form-group">
            <%= f.label :qualification, class: 'col-sm-2 control-label'%>
            <div class="col-sm-2">
             <%= f.text_field :qualification%>
            </div><br /> 
          </div>

          <div class="form-group">
            <%= f.label :dob, class: 'col-sm-2 control-label' %>
            <div class="col-sm-5">
             <%= f.date_select :dob, start_year: 1920, end_year: 2100, class: 'form-control'  %>
            </div><br /> 
          </div>

          <div class="form-group">
            <%= f.label :gender, class: 'col-sm-1 control-label' %>
            <div class="col-sm-6">
              <%= f.label :gender, "Male"%>
              <%= f.radio_button 'gender', 'Male' %>
              <%= f.label :gender, "Female" %>
              <%= f.radio_button 'gender', 'Female' %>
            </div><br /> <br />
          </div>

          <div class="form-group">
            <div class="col-sm-5">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>

