<body style="background-color:#FBCBCB;">
<h2>Profile</h2>
<%= form_for @profile, url:user_profiles_path(current_user),:action =>'create' do |f| %>
  <div class="field",class="alert alert-danger fade in">
    <%= f.label :address%> <br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :contact%><br />
    <%= f.number_field :contact %>
  </div>

  <div class="field">
    <%= f.label :qualification%><br />
    <%= f.text_field :qualification%>
  </div>

 <div class="field">
   <%= f.label :dob%><br />
   <%= f.date_field :dob %>
 </div>

  <div class="field">
   <%= f.label :gender %><br />
  <%= f.label :gender, "Male"%>
  <%= f.radio_button 'gender', 'Male' %>
  <%= f.label :gender, "Female" %>
  <%= f.radio_button 'gender', 'Female' %>
  </div>

  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
<td><%=link_to 'Back to home page', profiles_dashboard_path,class: "btn btn-primary btn-xs"%></td>
</body>
