<body>
 <div class="wrapper", id = "main-content">
    <div style="width: 639px; height: 780px; padding-top: 0px; padding-bottom: 0px; margin-top: -784px;">
      <div id ="wrapper">
        <h1><center> Your Profile is:</center> </h1><br />
        <div>
          <strong>FirstName:</strong>
         <span><%=  current_user.firstname %></span>
        </div>

        <div>
          <strong>LastName:</strong>
          <%=  current_user.lastname %><br />
        </div>

        <div>
          <strong>Address:</strong>
          <%=  @profile.address %>
        </div>

        <div>
          <strong>DOB:</strong>
          <%=  @profile.dob %>
        </div>

        <div>
          <strong>Qualification:</strong>
          <%=  @profile.qualification %>
        </div>

        <div>
          <strong>ContactNumber:</strong>
          <%=  @profile.contact %>
        </div>

        <div>
          <strong>Gender:</strong>
          <%=  @profile.gender %>
        </div>

        <div>
          <table>
          <tr>
            <td><%=link_to 'Back to home page', profiles_dashboard_path,class: "btn btn-primary btn-xs"%></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
