<body style="background-color: #FBCBCB;">
  <h3>Followers list is:</h3>
  <table border ="2">
    <tr>
    <th>FOllowers Name</th><td></td>
     <th>FOllowee Name</th><td></td>
    </tr>
    <% @relationships.each do|relation| %>
    <tr>
    <td><%= User.find(relation.followed_id).firstname%></td><td></td>
    <td><%= User.find(relation.follower_id).firstname%></td>
    <td><%= link_to 'Unfollow', relation, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    <td></td>
    <%end%>
    </tr>
  </table>
  <table border ="1">
    <tr><th>POSTS</th></tr>
    <tr>
    </tr>
    <% @posts.each do |all_relation| %>
    <tr>
    <td><%= all_relation.post_artical%></td>
    </tr>
    </tr>
    <%end%>
  </table>
 <%=link_to 'Back to home page', profiles_dashboard_path,class: "btn btn-primary btn-xs"%>
</body>
