<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
 <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Affi_Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Login and signupForm" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="Codrops" />
    <!-- <link rel="shortcut icon" href="../favicon.ico">  -->
    <link rel="stylesheets" type="assets/css" href="css/demo.css" />
    <link rel="stylesheets" type="assets/css" href="css/style2.css" />
    <link rel="stylesheets" type="assets/css" href="css/animate-custom.css" />
  </head>

<body>
  <div class="container">
    <div  class="animate form">
      <section>       
        <div id="container_demo" >
          <a class="hiddenanchor" id="toregister"></a>
          <a class="hiddenanchor" id="tologin"></a>
          <div id = "wrapper">
          
		         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), autocomplete: "on",class: "animate form") do |f| %>
		             <%= devise_error_messages! %>
		             <h1>SignUp Form</h1> 

		            <div class="form_for">
		              <p id ="demo"></p>
		              <%= f.label :firstname %>
		              <%= f.text_field :firstname,:id => "id1",:placeholder =>'first name',:required => true %> 
		              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		            </div>

		            <div class="field">
		              <%= f.label :lastname %>
		              <%= f.text_field :lastname,:id => "id2",:placeholder=>'last name'%>
		            </div>

		            <div class="field">
		             <%= f.label :avatar%>
		              <%= f.label :avatar do %>
		              <%= f.file_field :avatar %>
		              <%= f.hidden_field :avatar_cache%>
		              <%end%>
		            </div>

		            <div>
		             <%=f.label :role%>
		             <%= f.select :role, collection: User.roles.keys.to_a %>
		            </div>
		            
		            <div class="field">
		              <%= f.label :email %>
		              <%= f.email_field :email, autofocus: true %>
		            </div>

		            <div class="field">
		              <%= f.label :password %>
		              <% if @minimum_password_length %>
		              <em>(<%= @minimum_password_length %> characters minimum)</em>
		              <% end %>
		              <%= f.password_field :password, autocomplete: "off" %>
		            </div>

		            <div class="field">
		              <%= f.label :password_confirmation %>
		              <%= f.password_field :password_confirmation, autocomplete: "off" %>
		            </div>
		            <div class="actions">
		            <input type="submit" value="Submit" class = "btn btn-primary btn-xs"onClick="return (myFunction());"/>
		            </div>
		          <% end %>
		          <%= render "users/shared/links" %>
		        </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>


<script>
  function myFunction() 
  {
    var fname = document.getElementById("id1");
    var lname = document.getElementById("id2");
    var letters = /^[A-Za-z]+$/;  
    if(fname.value.match(letters) && lname.value.match(letters))  
    {  
    document.getElementById("demo").innerHTML = "Input Ok";
    return true;   
    }  
    else  
    {  
     document.getElementById("demo").innerHTML = "FirstName & Lastname should not be empty and Enter only alphabets";
     return false;
    }  
  } 
</script>
