<h2>ADD MORE INFORMATION</h2>
<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label :address%><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :contact%><br />
    <%= f.number_field :contact %>
  </div>

  <div class="field">
    <%= f.label :qualification%><br />
    <%= f.text_field :qualification%>
  </div>

 <div class="field">
   <%= f.label :dob%><br />
   <%= f.date_field :dob %>
 </div>

  <div class="field">
    <%= f.label :gender%><br />
    <%= f.text_field :gender%>
  </div>

  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>

