<h1> Your Profile is: </h1>
<p>
  <strong>FirstName</strong>
  <%= current_user.firstname %>
</p>

<p>
  <strong>LastName</strong>
  <%= current_user.lastname %>
</p>

<p>
  <strong>Address</strong>
  <%= @user.address %>
</p>

<p>
  <strong>DOB</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Qualification</strong>
  <%= @user.qualification %>
</p>

<p>
  <strong>ContactNumber</strong>
  <%= @user.contact %>
</p>
