<body style="background-color:#FBCBCB;">
 <%=link_to 'Back to home page', profiles_dashboard_path%>
 <div class="table-responsive">
    <table class ="table">
     <tr>
       <th>First Name</th>
       <th>Last Name</th>
      </tr>
      <% unless @frnds.blank? %>
       <% @frnds.each do |request| %>
        <tr>
          <td><%= request.user.firstname %></td>
          <td><%= request.user.lastname %></td>
          <td><%= link_to "Accept", friendship_path(:id => request.id), :method => "put",class: "btn btn-primary btn-xs" %></td> 
          <td><%= link_to "Decline",request, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-primary btn-xs"%></td>
        </tr>
        <% end %>
      <%end%>
  </table>
</div>
</body>
