<body style ="background-color: #CD0000;">
	<h1>edit</h1>
	<%= form_for @post do |f| %>
	<div class="form-group">
	    <%= f.label     :post_artical%><br>
	    <%= f.text_area :post_artical%>
	</div>
	<div>
		<%= f.submit %> 
	</div>
	<%end%>
	<td><%=link_to 'Back to home page', profiles_dashboard_path%></td>
</body>
