<body style="background-color: #FBCBCB;">
<h3></h3>
<table border ="3">
<tr>
  <th>FirstName</th><td></td>
  <th>LastName</th><td></td>
</tr>
<tr>
  <td><%= current_user.firstname %></td>
  <td></td>
  <td><%= current_user.lastname %></td>
  <td></td>
  <td><%= link_to 'More post',posts_new_path,class: "btn btn-primary btn-xs"%></td>
  </tr>
  </table>
<table border ="2">
 
<tr><th>POSTS</th></tr>
<tr>
</tr>
  <% @posts.each do |all_post| %>
  <tr>
  <td><%= all_post.user_id %></td>
  <td><%= all_post.post_artical %></td>
  <td><%= link_to 'comment', post_path(all_post),class: "btn btn-primary btn-xs"%></td>
  <td><%= link_to 'Like',likeships_path(:post_id => all_post.id),method: :post,class: "btn btn-primary btn-xs"%></td>
</tr>
<%end%>
</table>
<%=link_to 'Back to home page', profiles_dashboard_path,class: "btn btn-primary btn-xs"%>
</body>
