<body>
<div class="wrapper", id = "main-content">
  <div style="width: 639px; height: 780px; padding-top: 0px; padding-bottom: 0px; margin-top: -784px;">
      <table class="table table-sm">
        <h4><center>your  posts are:--</center></h4> 
        <tr>
          <th>Name</th>
          <th>Artical</th>
        </tr>

        <% @myposts.each do |post| %>
          <tr>
            <td><%= User.find(post.user_id).firstname %></td>
            <td><%= post.post_artical %></td>
            <td><span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago</span></td>
            <td><%=link_to  'edit',edit_post_path(post),class: "btn btn-primary btn-xs"%>
             <td><%= link_to 'comment',post_path(post),class: "btn btn-primary btn-xs"%></td>
            <td><%=link_to 'delete',post,method: :delete ,class: "btn btn-primary btn-xs"%>
          </tr> 

          <tr><h4><th>Comments:---</th></h4></tr>
          <% post.comments.each do|comment|%>
           <tr>
           <td><%= comment.comment_post %></td>
           </tr>
          <%end%>
        <%end%>
        </tr>
      </table>
     <%=link_to 'Back', posts_path,class: "btn btn-primary btn-xs"%>
    </div>
  </div>
</body>
