<body style="background-color: #A4C8EC";>
	<div>
	<table border ="1">
	 <tr><strong>Post</strong></tr>
	 <tr><%= @post.post_artical %></tr>
	 </table>
	</div>

  <h4>Comments</h3>
  <table>
  <% @post.comments.each do |comment| %>
  <tr>
  <td><%= comment.comment_post %></td>
  <td><%= link_to 'Delete Comment', [comment.post, comment],method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </td>
  </tr>
  <% end %>
  </table>

  <div>
	<%= form_for([@post, @post.comments.build]) do |f| %>

	    <%= f.label :comment_post %><br>
	    <%= f.text_area :comment_post %>
	    <%= f.submit%>
	<% end %>
	</div>
<%= link_to 'Back', posts_path %>
</body>
